# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Debug/StataDwPlugin.dll
Debug/StataDwPlugin.exe
Debug/StataDwPlugin.exp
Debug/StataDwPlugin.ilk
Debug/StataDwPlugin.lib
Debug/StataDwPlugin.pdb
*.user
*.suo
*.tlog
*.obj
*.log
*.manifest
*.res
StataDwPlugin/Debug/StataDwPlugin.lastbuildstate
StataDwPlugin/Debug/StataDwPlugin_manifest.rc
*.idb
*.pdb
_ReSharper.*
*.opensdf
*.sdf
*.ipch
Release/*
*.unsuccessfulbuild
